<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
</head>

<body>

    <h3>Naver Smart Editor 2.0</h3>
    <form id="form" >
        <div id="smarteditor">
            <textarea name="editorTxt" id="editorTxt"
                      th:text="${sideboard.content}"
                      rows="20" cols="10"
                      style="width: 500px"></textarea>
        </div>
        <input type="button" value="수정하기" onclick="savePost();"/>
        <input type="button" value="돌아가기" onclick="location.href='/'"/>
    </form>
    <script>
    let oEditors = []

    smartEditor = function() {
      console.log("Naver <<<SmartEdit></SmartEdit></SmartEdit></SmartEdit>or")
      nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "editorTxt",
        sSkinURI: "/smarteditor/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
      })
    }


    $(document).ready(function() {
      smartEditor()
    })


  </script>
<script th:inline="javascript">
  savePost = function() {
      oEditors.getById["editorTxt"].exec("UPDATE_CONTENTS_FIELD", [])
      let content = document.getElementById("editorTxt").value

      if(content == '') {
        alert("내용을 입력해주세요.")
        oEditors.getById["editorTxt"].exec("FOCUS")
        return
      } else {
        var mainboard = [[ ${sideboard.mainboardId} ]]
        var sideboard = [[ ${sideboard.sideboardId} ]]
        console.log(sideboard)
        let sideBoard = {
            content: content
        }
        $.ajax({
          url: "/savePost/side/edit/" + sideboard
          , data: sideBoard
          , success: function(data) {
            console.log('success')
            location.href="/board/" + mainboard;

          }
          , error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR)
            alert('오류가 발생하였습니다.')
          }
        })

      }
    }

</script>

</body>
</html>